<div class="box-container" id="about">
  <h2>
    <strong>ABOUT ME</strong>
  </h2>
  <div class="inner-container">
    <div class="box box1">
      <h3>MYSELF</h3>
      <p>I am Sriharsha, recent grad from Marist College with major in Information Systems Management (MIS). I started developing
        interest in Web technologies in my Bachelor's. I have worked as intern at Kwality Photonics Pvt Ltd. where I used
        to update Web pages with the company's products. I am well versed with Software Devlopment Life Cycle processes with
        major in MIS. Through Web Technologies course in my Master's I have got insight into Angular and MEAN stack. So,
        I have started learning and loving Angular and I am aspiring to become a Front-End Developer.</p>
    </div>
    <div class="box box2">
        <img src="../../../assets/graduate.jpg"/>
    </div>
    <div class="box box3">
      <h3>SKILLS</h3>
      <div class="skills">
        <ul class="list">
          <li>HTML</li>
          <li>CSS</li>
          <li>BOOTSTRAP</li>
          <li>JAVASCRIPT</li>
          <li>ANGULAR 2/4</li>
          <li>NODE JS</li>
          <li>EXPRESS JS</li>
          <li>MONGO DB</li>
          <li>SQL</li>
          <li>GIT</li>
        </ul>
        <ul class="list">
          <li>SDLC</li>
        </ul>
      </div>
    </div>
  </div>
</div>
