.box-container {
  background: #D2D4A5;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  text-align: center;
}

a  {
    padding: 10px;
}

img{
  height: 250px;
  width: 300px;
  display: block;
  margin: 0 auto;
  transition: 1s;
}

img:hover {
    height: 270px;
    width: 320px;
}

section {
text-align: center;
padding: 20px;
}

