<div class="container-fluid box-container">
  <h2><strong>PORTFOLIO</strong></h2>
  <div class="col-sm-12 col-md-12 col-lg-6 project1">
    <a href="https://learn-mean-stack.herokuapp.com/" target="_blank">
      <img src="../../../assets/mean.jpg" alt="MEAN App"/>
    </a>
    <h3>LEARN MEAN WITH ANGULAR 2</h3>
    <section>
      <a href="https://github.com/sriharsha51/MEAN-Stack-App-with-Angular-2" title="Github Repository" target="_blank">
        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
      </a>
      <a href="https://learn-mean-stack.herokuapp.com/" title="Visit Application" target="_blank">
        <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
      </a>
    </section>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 project2">
    <a href="https://apis-hub.herokuapp.com/" target="_blank">
        <img src="../../../assets/api.png" alt="API-HUB">
    </a>
    <h3>API-HUB PROJECT</h3>
    <section>
        <a href="https://github.com/sriharsha51/api-hub" target="_blank" title="Github Repository">
          <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://apis-hub.herokuapp.com/" title="Visit Application" target="_blank">
          <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
        </a>
    </section>
  </div>
</div>
